USE [master]
GO
/****** Object:  Database [CarRent]    Script Date: 5/27/2020 9:05:30 AM ******/
CREATE DATABASE [CarRent]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CarRent', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\CarRent.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CarRent_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\CarRent_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CarRent].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CarRent]
GO
/****** Object:  Table [dbo].[Administrators]    Script Date: 5/27/2020 9:05:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Administrators](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](20) NULL,
	[Surname] [nvarchar](30) NULL,
	[Username] [nvarchar](20) NULL,
	[Password] [nvarchar](30) NULL,
	[Email] [nvarchar](50) NULL,
	[Address] [nvarchar](50) NULL,
	[Phone] [nvarchar](50) NULL,
	[Identification] [nvarchar](10) NULL,
	[AddedEditedBy] [int] NULL,
 CONSTRAINT [PK_Administrators] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AvailableCars]    Script Date: 5/27/2020 9:05:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AvailableCars](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Model] [nvarchar](30) NULL,
	[Engine] [money] NULL,
	[Year] [int] NULL,
	[RegNumber] [nvarchar](10) NULL,
	[Price] [money] NULL,
	[CarNameId] [int] NULL,
	[AdminId] [int] NULL,
	[EditedAddedBy] [int] NULL,
 CONSTRAINT [PK_CarsForRent] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CarNames]    Script Date: 5/27/2020 9:05:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CarNames](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](20) NULL,
 CONSTRAINT [PK_CarNames] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CarsOnRent]    Script Date: 5/27/2020 9:05:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CarsOnRent](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[AvailableCarsId] [int] NULL,
	[CustomerId] [int] NULL,
	[Price] [money] NULL,
	[RentalDate] [datetime] NULL,
	[ReturnDate] [datetime] NULL,
	[AcceptedDate] [datetime] NULL,
	[EditedAddedBy] [int] NULL,
 CONSTRAINT [PK_CarsOnRent] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customers]    Script Date: 5/27/2020 9:05:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customers](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](30) NULL,
	[Surname] [nvarchar](30) NULL,
	[Phone] [nvarchar](50) NULL,
	[Email] [nvarchar](100) NULL,
	[Address] [nvarchar](250) NULL,
	[Identification] [nvarchar](10) NULL,
	[EditedAddedBy] [int] NULL,
 CONSTRAINT [PK_Customers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AvailableCars]  WITH CHECK ADD  CONSTRAINT [FK_AvailableCars_Administrators1] FOREIGN KEY([AdminId])
REFERENCES [dbo].[Administrators] ([Id])
GO
ALTER TABLE [dbo].[AvailableCars] CHECK CONSTRAINT [FK_AvailableCars_Administrators1]
GO
ALTER TABLE [dbo].[AvailableCars]  WITH CHECK ADD  CONSTRAINT [FK_AvailableCars_CarNames] FOREIGN KEY([CarNameId])
REFERENCES [dbo].[CarNames] ([Id])
GO
ALTER TABLE [dbo].[AvailableCars] CHECK CONSTRAINT [FK_AvailableCars_CarNames]
GO
ALTER TABLE [dbo].[CarsOnRent]  WITH CHECK ADD  CONSTRAINT [FK_CarsOnRent_AvailableCars] FOREIGN KEY([AvailableCarsId])
REFERENCES [dbo].[AvailableCars] ([Id])
GO
ALTER TABLE [dbo].[CarsOnRent] CHECK CONSTRAINT [FK_CarsOnRent_AvailableCars]
GO
ALTER TABLE [dbo].[CarsOnRent]  WITH CHECK ADD  CONSTRAINT [FK_CarsOnRent_Customers] FOREIGN KEY([CustomerId])
REFERENCES [dbo].[Customers] ([Id])
GO
ALTER TABLE [dbo].[CarsOnRent] CHECK CONSTRAINT [FK_CarsOnRent_Customers]
GO
USE [master]
GO
